<h1>The Zuehlke company cars</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <h3>Filters</h3>
            </div>
            <div class="row">
                <label for="colour" class="col-md-3">Colour:</label>
                <select id="colour" class="col-md-6" ng-model="vm.selectedColour">
                    <option ng-repeat="colour in vm.colours | orderBy: 'name'">{{ colour.name }}</option>
                </select>
            </div>
            <div class="row">
                <label for="brand" class="col-md-3">Brand:</label>
                <select id="brand" class="col-md-6" ng-model="vm.selectedBrand">
                    <option ng-repeat="brand in vm.brands | orderBy: 'name'">{{ brand.name }}</option>
                </select>
            </div>
            <div class="row">
                <label for="year" class="col-md-3">Year:</label>
                <select id="year" class="col-md-6" ng-model="vm.selectedYear">
                    <option ng-repeat="year in vm.years | orderBy: 'valueOf()' : true">{{ year }}</option>
                </select>
            </div>
            <div class="row">
                <button ng-click="vm.showCars()">Show results</button>
            </div>

        </div>
        <div class="col-md-8">
            <div class="row">
                <h3>Cars matching your filters</h3>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Colour
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in vm.cars">
                        <td>{{ car.name }}</td>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.colour }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

