<div ng-show="vm.showWelcome">
    <div class="starter-template">
        <h1>Start your engines: <span ng-hide="vm.isInitialized">pending</span><span
                ng-show="vm.isInitialized">wrrrrooooomm.. angular started successfully :-)</span>
        </h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    <button ng-click="vm.startWork()">Ok, let's start</button>
</div>

<div ng-hide="vm.showWelcome">
    <h1>The Zuehlke company cars</h1>
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Year
            </th>
            <th>
                Colour
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="car in vm.cars">
            <td>{{ car.name }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.colour }}</td>
        </tr>
        </tbody>
        <tfoot>
        <button ng-click="vm.showCars()">Show cars</button>
        </tfoot>
    </table>
</div>