<h1>The Zuehlke company cars</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <cs-filter-widget view-model="vm.filters"></cs-filter-widget>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h3>Cars matching your filters</h3>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Colour
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in vm.cars">
                        <td>{{ car.name }}</td>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.colour }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

